h3.alert{
	color: #fff;
	font-family: $mainFont;
	font-size: 3em;
	text-align: center;
	margin: 0;
	padding: 10px; 
	cursor: pointer;
	text-transform: uppercase;
}
h3.alert:hover{
	text-decoration: underline;
}
$alert-bg-default:#E14735;
$alert-bg-success:#28eb35;
$alert-bg-error:#f0e62e;
$alert-bg-blue:#2095e8;
span.alert{
	background-color: $alert-bg-default;
	display: block;
	width: 100%;
}
span.alert_success{
	background-color:$alert-bg-success;
}
span.alert_error{
	background-color:$alert-bg-error;
}
span.alert_blue{
	background-color:$alert-bg-blue;
}