$mainCol:#8FBD2B;
// Placeholder colors
::-webkit-input-placeholder{
	color:#272725;
	opacity: 0.8;
}
:-moz-placeholder{
	color:#272725;
	opacity: 0.8;
}
::-moz-placeholder{
	color:#272725;
	opacity: 0.8;
}
:-ms-input-placeholder{
	color:#272725;
}
// Form labels
label{
	font-size:16px;
	font-family: 'Source Sans Pro', sans-serif;
	padding:5px;
}

// Text and password input
input[type=text], input[type=password]{
	transition:all 0.5s ease;
	border:3px solid $mainCol;
	background-color: lighten($mainCol, 30%);
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	padding:10px;
	display:inline;
}
input[type=text]:focus, input[type=password]:focus{
	transition:all 0.5s ease;
	border-color:darken($mainCol,10%);
	background-color:$mainCol;
	outline:none;
}

// Textarea input
textarea{
	transition:border-color 0.75s ease;
	border: 5px solid lighten($mainCol,20%);
	background-color:lighten($mainCol,45%);
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	line-height:1.25;
}
textarea:focus{
	transition:border-color 0.75s ease;
	border-color:$mainCol;
	outline:none;
}

// Drop down list (select)
// This requires "dropDown.svg" 
select{
	// Reset
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	outline:none;
	background-color:#fff;

	// Niceness
	border-width:2px;
	border-color:$mainCol;
	font-size:16px;
	padding:5px;
	padding-right:25px;

	// Drop down button
	background-image:url(../imgs/dropDown.svg);
	background-position:center right;
	background-repeat:no-repeat;
	background-size:20px;
}

// Radio buttons
$normalCol:#9E9E9E;
$checkedCol:$mainCol;

.radioContain{
	width:20px;
	height:20px;
	display:inline;
	position:relative;
	margin-right:20px;
}
input[type=radio]{
	position:absolute;
	top:0;
	left:0;

	width:20px;
	height:20px;
	padding:0;
	margin:0;

	z-index:10;
	opacity:0;
}
.radioContain > input[type=radio] + div{
	position:absolute;
	top:0;
	left:0;
	z-index:9;
	opacity:1;
	width:18px;
	height:18px;

	transition:background-color 0.25s ease;
	background-color:$normalCol;
	border:2px solid #636363;
	border-radius:5px;
}
input[type=radio]:checked + div{
	transition:background-color 0.25s ease;
	background-color:$checkedCol;
}