$accentCol:#8FBD2B;
a{
	text-decoration:underline;
	background-color:transparent;
	color:inherit;
	transition:background-color 0.5s ease;	
}
a:hover{
	transition:background-color 0.5s ease;
	background-color:$accentCol;
}

// Overide defaults
a.bullet, a.underline, a.box, a.underoverline{
	text-decoration:none;
}
a.bullet:hover, a.underline:hover, a.box:hover, a.underoverline:hover{
	background-color:transparent;
}

// .bullet links
a.bullet::before,
a.bullet::after{
	opacity:0;
	content:" • ";
	color:$accentCol;
	transform: translateX(20px);
}
a.bullet:hover::before{
	opacity:1;
	transform:translateX(0px);
	transition:all 0.5s ease;
}
a.bullet:hover::after{
	opacity:1;
	transform:translateX(0px);
	transition:all 0.5s ease;
}

// .underline links
a.underline{
	transition:all 0.5s ease;
	padding-bottom:10px;
	border-bottom:1px solid transparent;
	line-height:1;
}
a.underline:hover{
	transition:all 0.5s ease;
	border-bottom:3px solid $accentCol;
	padding-bottom:0px;
}

// .underoverline links
a.underoverline{
	transition:all 0.5s ease;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:1px solid transparent;
	border-top:1px solid transparent;
	line-height:1;
}
a.underoverline:hover{
	transition:all 0.5s ease;
	border-bottom:3px solid $accentCol;
	border-top:3px solid $accentCol;
	padding-bottom:0px;
	padding-top:0px;
}

// .box links
// $bgCol:#EBEBD5;
a.box{
	// padding:5px;
}
a.box{
	transition:all 0.5s ease;
	outline-offset:10px;
	outline:2px solid transparent;
}
a.box:hover{
	transition:all 0.5s ease;
	outline-offset:0px;
	outline-color:$accentCol;
}