body{
	background-color:#8AAB1D;
}
section{
	margin-top:10px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
}
.article{
	background-color:#EBEBD5;
}
::selection{
	background-color:#FF6666;
}