$headingCol:#424242;
h1{
	font-size:64px;
	color:$headingCol;
	font-family: 'Antic Slab', serif;
	line-height:1.3;
}
h2{
	font-size:48px;
	color:$headingCol;
	font-family: 'Antic Slab', serif;
	line-height:1.2;
}
h3{
	font-size:36px;
	color:$headingCol;
	font-family: 'Antic Slab', serif;
	line-height:1.15;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
}