/*The font used for titles*/
$mainFont:'Advent Pro', sans-serif;
/*Font used for main copy text*/
$copyText:'Advent Pro', sans-serif;
/*Font color*/
$fontCol:#8FCAFF;
/*Emphasis color*/
$emphasis:#06852F;
/*Menu background color*/
$col2:#4A6A7B;
/*The color that the menu goes on hover*/
$col3:#0E7CB6;

/*Submit border color*/
$borderCol:$fontCol;
/*Subscribe button color for border and text*/
$subscribeCol:#16B11E;